.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  z-index: 3;
  @include easeOut;

  .btn-line {
    background-color: set-text-color($primary-color);
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    @include easeOut;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }

      &:nth-child(3) {
        opacity: 0;
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-overlay,
  &-nav {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  overflow: hidden;
  }

  &-overlay {
    background: rgba($primary-color, 0.9);
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .photo {
    width: 250px;
    height: 250px;
    background: url('../img/portrait.jpg');
    border-radius: 50%;
    border: solid 3px $secondary-color;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 5), 0.9);
    transform: translate3d(0, -100%, 0);
    list-style: none;
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;
  
    &.show {
      transform: translate3d(0px, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    text-decoration: none;
    color: set-text-color($primary-color);
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}